
.nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 300px;
    /*transition:
            background-color var(--trans-dur),
            width var(--trans-dur) ease-in-out;*/
}
.nav_logo {
    text-align: center;
    margin-bottom: 45px;
}
.nav_logo img {
    width: 235px;
}
body {
    background-color: #e2e3e8;
    color: #17181c;
    height: 100vh;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav_main {
    padding: 50px 20px;
    overflow-x: hidden;
    scrollbar-color: transparent transparent;
}
.nav_items {
    padding: 0 0 20px 0;
    list-style: none;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #e2e2e2;
}
.nav_item {
    display: flex;
}
.nav_heading {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #888888;
    display: block;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 18px;
    letter-spacing: 1px;
}
.nav_item-text {
    margin-left: 15px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 18px;
    color: #6b6b6b;
}
.nav_icon {
    font-size: 27px !important;
    color: #434448;
}
.nav_item-box {
    background-color: rgb(255 255 255 / 0%);
    border-radius: 11px;
    color: #7582a3;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    text-align: left;
    text-decoration: none;
    transition:
            background-color 0.3s ease-in-out,
            color 0.3s,
            width 0.3s ease-in-out;
    width: 100%;
    /*min-width: 3em;*/
}
.nav_item-box:focus,
.nav_item-box:hover {
    /*background-color: #ebf0fe;*/
    background-color: #ddefff;
}
.nav_item-box:focus .nav_item-text,
.nav_item-box:focus .nav_icon,
.nav_item-box:hover .nav_item-text,
.nav_item-box:hover .nav_icon {
    /*color: #255ff4;*/
    color: #2598ff;
}

.nav_item-box:focus {
    outline: transparent;
}
.logout_btn_wrap {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ddd;
}
.logout_btn {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
}
.logout_btn_wrap:hover {
    box-shadow: unset;
    transition: .2s ease;
}
.nav_icon_logout {
    background-color: #ddefff;
    color: #47a6fc;
    border-radius: 50px;
    padding: 5px;
    margin-right: 2px;
    font-size: 25px !important;
}
