/*좌측 네비바 메뉴*/
.nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 300px;
    /*transition:
            background-color var(--trans-dur),
            width var(--trans-dur) ease-in-out;*/
}
.nav_logo {
    text-align: center;
    margin-bottom: 45px;
}
.nav_logo img {
    width: 235px;
}
body {
    /*background-color: #e2e3e8;*/
    background-color: #eff7ff;
    color: #17181c;
    height: 100vh;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav_main {
    padding: 50px 20px;
    overflow-x: hidden;
    scrollbar-color: transparent transparent;
}
.nav_items {
    padding: 0 0 20px 0;
    list-style: none;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #e2e2e2;
}
.nav_item {
    display: flex;
}
.nav_heading {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #888888;
    display: block;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 18px;
    letter-spacing: 1px;
}
.nav_item-text {
    margin-left: 15px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 18px;
    color: #6b6b6b;
}
.nav_icon {
    font-size: 27px !important;
    color: #434448;
}
.nav_item-box {
    background-color: rgb(255 255 255 / 0%);
    border-radius: 11px;
    color: #7582a3;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    text-align: left;
    text-decoration: none;
    transition:
            background-color 0.3s ease-in-out,
            color 0.3s,
            width 0.3s ease-in-out;
    width: 100%;
    /*min-width: 3em;*/
}
.nav_item-box:focus,
.nav_item-box:hover {
    /*background-color: #ebf0fe;*/
    background-color: #ddefff;
}
.nav_item-box:focus .nav_item-text,
.nav_item-box:focus .nav_icon,
.nav_item-box:hover .nav_item-text,
.nav_item-box:hover .nav_icon {
    /*color: #255ff4;*/
    color: #2598ff;
}

.nav_item-box:focus {
    outline: transparent;
}
.logout_btn_wrap {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ddd;
}
.logout_btn {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
}
.logout_btn_wrap:hover {
    box-shadow: unset;
    transition: .2s ease;
}
.nav_icon_logout {
    background-color: #ddefff;
    color: #47a6fc;
    border-radius: 50px;
    padding: 5px;
    margin-right: 2px;
    font-size: 25px !important;
}
/*우측 캘린더*/
.calendar-div {
    margin-left: 300px;
    padding-top: 40px;
}
.currentMonth {
    font-size: 31px;
    font-weight: bold;
}

.calendar-container {
    /*width: 400px;
    margin: 50px auto;*/
    margin: 0px 40px;
    background: #fff;
    padding: 40px 80px;
    border-radius: 30px;
    /*box-shadow: 1px 4px 17px #b6b6b6;*/
    box-shadow: 1px 3px 14px #c9c9c9;
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 10px;*/
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.calendar {
    /*border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;*/
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 5px;

    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.lastDay, .nextDay {
    color: #bfbfbf;
}

.day {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    min-height: 80px;
    text-align: left;
    position: relative;
}

.today {
    background-color: #fff9e4;
}

.sunday {
    color: #ff3333;
}

.transaction {
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 3px;
}
.day:has(.transaction) {
    display: flex;
    flex-direction: column;
}
.expense {
    color: #ff5959;
    order: 1;
}
.income {
    color: #4aaa77;
    order: 0;
}