<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<h1>Hello World!67b7ff</h1>
<a href="/user/login">로그인</a>
<a href="/user/join">회원가입</a>
    <form action="user/join" method="post">
        아이디: <input  type="text" name="userEmail">
        비밀번호: <input  type="password" name="userPassword">
        이름: <input  type="text" name="userName">
        전화번호: <input  type="text" name="userPhone">
        <input type="submit" value="회원가입">

    </form>
</body>
</html>