<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/join.css">
    <script type="text/javascript" src="/js/join.js"></script>
</head>
<body>
    <div class="container-body">
        <div class="container">
            <div class="header_text">
                <p>회원가입</p>
            </div>
            <div class="join_wrap">
                <form action="user/join" method="POST">
                    <div class="id_wrap">
                        <label for="userId" class="input_label">
                            아이디<span class="check_text">사용할 수 없는 아이디입니다.</span>
                        </label>
                        <input type="text" id="userId" name="userId" class="input_input">
                        <button onclick="checkId();">중복 확인</button>
                    </div>
                    <div class="pw_wrap">
                        <label for="userPassword" class="input_label">
                            비밀번호<span class="check_text">8글자 이상, 영문, 숫자, 특수문자를 모두 사용하세요.</span>
                        </label>
                        <input type="password" id="userPassword" name="userPassword" class="input_input">
                    </div>
                    <div class="pw_wrap">
                        <label for="userPassword_ch" class="input_label">
                            비밀번호 확인<span class="check_text">비밀번호가 일치하지 않습니다.</span>
                        </label>
                        <input type="password" id="userPassword_ch" name="userPassword" class="input_input">
                    </div>
                    <div class="name_wrap">
                        <label for="userName" class="input_label">이름</label>
                        <input type="text" id="userName" name="userName" class="input_input">
                    </div>
                    <div class="email_wrap">
                        <label for="userEmail" class="input_label">이메일</label>
                        <input type="text" id="userEmail" name="userEmail" class="email_input first_email">
                        @<input type="text" id="selectDomain" disabled class="email_input second_email">
                        <select class="domain_list email_input" id="domain_list">
                            <option value="naver.com" selected>naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="kakao.com">kakao.com</option>
                            <option value="hanmail.com">hanmail.com</option>
                            <option value="type">직접 입력</option>
                        </select>
                    </div>
                    <div class="btn_wrap">
                        <input type="submit" class="join_btn" value="가입하기">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
<h1>Hello World!67b7ff</h1>
<a href="/user/login">로그인</a>
<a href="/user/join">회원가입</a>
    <form action="user/join" method="post">
        아이디: <input  type="text" name="userEmail">
        비밀번호: <input  type="password" name="userPassword">
        이름: <input  type="text" name="userName">
        전화번호: <input  type="text" name="userPhone">
        <input type="submit" value="회원가입">

    </form>-->
</body>
</html>